<h1>Welcome to Fender Unbender!</h1>

<%= render partial: "navbar", locals: {mech: @mechanic} %>

<div>
  <h4 id="pending-header">All Pending Jobs:</h4>
  <%= form_tag('/complete') do %>
  <div id="pending-list">
  </div>
  <%= submit_tag "Mark Selected Complete", :id => 'mark-complete' %>
  <% end %>
</div>


<div>
  <h4 id="completed-header">All Completed Jobs:</h4>
  <div id="completed-list">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    setHeaders("All");
    appendPendingJobs('/get_pending_jobs');
    appendCompletedJobs('/get_completed_jobs');
  });
</script>