<h1>Welcome, <%= current_mechanic.name %>!</h1>

<%= render partial: 'navbar', locals: {mech: @mechanic} %>

<div id="new-job"></div>

<div>
  <h4 id="pending-header">Your Pending Jobs:</h4>
  <%= form_tag('/complete') do %>
  <div id="pending-list">
  <%#= render partial: 'job_list', locals: {job_collection: @mechanic.unfinished_jobs} %>
  </div>
  <%= submit_tag("Mark Selected Complete") %>
  <% end %>
</div>

<div>
  <h4 id="completed-list">Your Completed Jobs:</h4>
  <div id="completed-list">
  <%#= render partial: 'job_list', locals: {job_collection: @mechanic.finished_jobs} %>
  </div>
</div>